.main-container {
  background-color: #3d087b;
  padding: 42px 124px 82px 124px;
}
.grid-container {
  display: grid;
  grid-template-columns: 582px auto;
}
.left-grid {
  display: grid;
  grid-template-rows: auto auto;
}
.left-grid-one {
  width: 204px;
  height: 77px;
  background-image: url("./assets/clock_logo@2x.png");
  background-size: 100% 100%;
  margin-top: 17px;
  margin-bottom: 76px;
}
.left-grid-two {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ededed;
  border-radius: 10px;
  width: 566px;
  height: 300px;
  opacity: 1;
  display: grid;
  padding: 10px 0px;
  grid-template-rows: auto auto auto auto auto;
}
.right-grid {
  padding-left: 16px;
  display: grid;
  grid-template-rows: 170px auto;
}
.right-grid-one {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ededed;
  border-radius: 10px;
  width: 536px;
  height: 130px;
  opacity: 1;
  position: absolute;
  display: flex;
  align-items: center;
}
.behind-grid-one {
  background-color: #ffffff;
  background-position: center;
  border-radius: 10px;
  opacity: 0.71;
  width: 77.6%;
  height: 100%;
  position: absolute;
  top: 13px;
  z-index: -1;
  margin-left: 60px;
}
.behind-grid-two {
  background-color: #ffffff;
  background-position: center;
  border-radius: 10px;
  opacity: 0.22;
  margin: auto;
  width: 70.7%;
  height: 100%;
  position: absolute;
  top: 25px;
  z-index: -2;
  margin-left: 79px;
}
.right-grid-two {
  margin-top: 170px;
  width: 536px;
  height: 474px;
  border-radius: 10px;
}
.display-one {
  background-color: #ffffff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 64px;
  font: normal normal 900 30px/40px Bauhaus Hv BT;
  display: flex;
  align-items: center;
  color: #8E53F0;
  font-size: 24px;
  justify-content: center;
}
.display-two {
  background-color: #ffffff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 370px;
}
.select1 {
  display: flex;
  align-items: center;
  padding-left: 29px;
}
.label1 {
  padding-left: 21px;
  padding-right: 40px;
  font: normal normal normal 18px/28px Manrope;
  letter-spacing: 0px;
  color: #3d087b;
  opacity: 1;
}
.label2 {
  padding-right: 62px;
}
.label3 {
  padding-right: 76px;
}
.dropdown {
  width: 281px;
  height: 45px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ededed;
  border-radius: 4px;
  opacity: 1;
  font: normal normal normal 14px/20px Manrope;
  letter-spacing: 0.25px;
  color: #000000de;
  padding: 14px 15px 13px 16px;
}
.dropdown::selection {
  color: red;
}
.border {
  border-left: 1px solid #c2c2c2;
  margin-left: 45px;
}
.left-grid-three {
  background: transparent
    linear-gradient(113deg, #6e54ec 0%, #cb52f8 40%, #fc5eff 81%, #f1a7c5 100%)
    0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  width: 299px;
  height: 50px;
  margin-top: 35px;
}
.party-text {
  font: normal normal 300 24px/38px Manrope;
  letter-spacing: 0.5px;
  color: #ffffff;
  opacity: 1;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.time-text {
  margin-left: 39px;
  margin-right: 32px;
  font: normal normal 600 20px/32px Manrope;
  letter-spacing: 0px;
  color: #3d087b;
  text-transform: uppercase;
  opacity: 1;
}
.bg {
  padding-top: 5px;
  background-image: url("./assets/timeline.png");
  width: 80px;
  height: 85px;
  color: #5f0089;
  text-align: center;
}
.amBg {
  background-image: url("./assets/AM_svg.png");
  width: 80px;
  height: 90px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal normal normal 36px/43px Barlow;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.digit {
  font: normal normal normal 36px/43px Barlow;
  letter-spacing: 0px;
  color: #8a11bf;
  margin-top: 15px;
}
.hours-text {
  font: normal normal normal 23px/28px Barlow;
  letter-spacing: 0px;
  color: #5f0089;
  margin-top: 5px;
}
.colon {
  color: #8a11bf;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 42px;
}
#dynamic-block {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 10px;
  font-size: 20px;
  border-radius: 8px;
  background-color: violet;
  color: white;
}
#grid-container1 {
  width: 264px;
  margin-top: 24px;
}
